/*
MAIN COLOR PALETTE:
brown-dark: #392518;
brown-light: #d2bfa7;
brown-lighter: #efe8df;

black: #000;
white: #fff;
*/

.content {
    position: relative;
    width: 1200px;
    margin: 85px auto 100px auto;    
    box-shadow: 0 20px 40px rgba(00, 00, 00, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 0;
    padding: 15px 20px 15px 50px;
    background-image: linear-gradient(110deg, 
        #fff 0%, 
        #fff 10%, 
        #efe8df 10%,
        #efe8df 12%,
        #fff 12%,
        #fff 14%,
        #efe8df 14%,
        #efe8df 16%,
        #fff 16%);
    border: none;
    box-shadow: 0 5px 30px rgba(00, 00, 00, .15);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #392518;
    transition: all .2s;
}

button:hover {
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0 5px 30px rgba(00, 00, 00, .2);
}

button:active {
    transform: translateY(-1px) scale(1.07);
    box-shadow: 0 5px 30px rgba(00, 00, 00, .15);
}

button:focus {
    outline: none;
}

.heading-secondary {
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 80px 0 50px 0;

    display: inline-block;
    background-image: linear-gradient(to right, #392518, #d2bfa7 );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.heading-secondary:first-of-type {
    margin-top: 100px;
}